/** Blitzee by beehive /u/jabman **/

/********************************************************** Blitzee layout **/

ons-row, .tabbar, .toolbar {
  max-width: 1100px;
  margin: 0 auto;
}
ons-row {
  margin: .5em auto;
}
ons-row:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
ons-col, ons-col.full, ons-col.wide {
  padding: 0 10px;
}
ons-carousel.center img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
ons-input {
  width: 100%;
  vertical-align: bottom;
}
ons-toolbar ons-icon {
  vertical-align: top;
}
ons-list-item ons-button.button--large {
  padding: 0 2px;
  margin-right: 8px;
}
form {
  border-radius: 5px;
  margin: 8px 0;
  padding: 16px 0;
}
form fieldset {
  border: 0;
}
fieldset + fieldset {
  margin-top: .5em;
}
.text-input {
  padding: 5px;
  width: 100%;
  display: inline-block;
}
footer .text-input {
  width: 95%;
}
textarea.text-input {
  height:auto;
}
.select-input {
  padding-left:5px;
}
.alert-dialog-content {
  text-align: left;
}
ons-toolbar-button:hover, ons-button:hover, ons-list-item:hover {
  cursor: pointer;
}
input:hover {
  cursor: text;
}
ol, ul {
  padding-left: 1em;
}
iframe {
  display: block;
  margin: 16px auto;
  border-radius: 6px;
}
footer {
  margin: 1em 0 0;
  padding: 1em 8px;
  width: 97.5%;
}
footer em {
  padding: 0 .5em;
}
ons-col.center {
  text-align: center;
}
table {
  overflow: auto;
}
th, td {
  text-align: right;
  padding: 0 .5em;
  vertical-align: top;
}
th:first-child, td:first-child {
  padding: 0;
  text-align: left;
}
.mobile {
  display: inline-block;
}
.toolbar .mobile {
  display: inline;
}
.desktop, .tablet {
  display: none;
}
ons-toolbar ons-back-button {
  display: inline-block;
}
ons-card.card {
  margin-left: 0;
  margin-right: 0;
}
ons-card .list-header {
  padding-right: 0;
}
.toolbar__right .button {
  display:none;
}
ons-list-item.flex-dir {
  width: auto;
  float: left;
}
.contact-button {
  float: left;
  margin: 4px;
}
.button--inline {
  min-height: initial;
  padding: 1px 10px;
  line-height: 18px;
  font-size: 13px;
}
.flash {
  animation: flash-anim 1s ease 0s 1 alternate !important;
}
@keyframes flash-anim {
    from { box-shadow: inset 0 0 1.5em #ddd; }
    to { box-shadow: none; }
}

@media (min-width: 350px) {
  .toolbar__right .button {
    display: inline-block;
  }
  footer {
    background: url(img/iota_icon_light.svg) right center/contain no-repeat;
    padding-right: 6em;
  }
  ons-col.twelve {
    padding: 0;
  }
  ons-col.twelve ons-card {
    margin: 4px;
    padding: 8px;
  }
}

@media (min-width: 480px) {
  ons-toolbar .button {
    padding: 0 16px;
  }
  ons-list-item.desktop {
    display: block;
  }
  ons-list-item.flex-dir {
    width: 100%;
    float: none;
  }
  .tablet {
    display: block;
  }
  .contact-button {
    float: none;
    margin: 0;
  }
  ons-col.flex-four.slim + ons-col.flex-four.fill {
    padding: 0 16px;
  }
}

@media (min-width: 541px) {
  .mobile {
    display: none;
  }
  .toolbar .desktop {
    display: inline;
  }
  ons-col.twelve {
    padding: 0;
  }
}

@media (min-width: 640px) {
  ons-col.twelve ons-card {
    margin: 8px;
    padding: 16px;
  }
  ons-list-item ons-button.button--large {
    font-size: 14px;
  }
  ons-list-item.desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .desktop, ons-list-item.desktop {
    display: block;
  }
  p, h2, h3, h4, input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  ons-col.twelve {
    padding: 0;
  }
  ons-col.flex-four.slim + ons-col.flex-four.fill {
    padding: 0 8px;
  }
}

@media (min-width: 1200px) {
  .tabbar {
    border-radius: 0 0 6px 6px;
  }
  .page__content {
    overflow-y: overlay;
  }
}



/********************************************************** Blitzee images **/

ons-card > img, ons-card > a img {
  width: 100%;
}
ons-col img, ons-modal img {
  max-width: 100%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
ons-col > img, ons-col picture > img {
  display: block;
  margin-top: 1em;
}
ons-col.center img {
  margin-top: 1em;
}
p + picture > img {
  margin-top: 1em;
}
img.inline {
  height: 1.5em;
  display: inline;
  overflow:hidden;
  vertical-align:middle;
}
sup img.inline {
  height: 1.1em;
}

@media (min-width: 640px) {
  ons-col.center img {
    max-width: 67%;
  }
  img.desktop {
    display: block;
  }
}

@media (min-width: 768px) {
  ons-col.center img {
    max-width: 60%;
  }
}

@media (min-width: 1024px) {
  ons-col.center img {
    max-width: 90%;
  }
}



/************************************************************ Blitzee grid **/


/* breaks: default, 300+, 350+, 480+, 541+, 640+, 768+, 1024+ */
/* .flex-four: use in conjunction with 5th <ons-col class="flex-four fill"> */

ons-col, ons-col.full, ons-col.wide {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 300px) {
  ons-col.slim {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 350px) {
  ons-col.twelve, ons-col.flex-four.slim {
    flex: 0 0 50%;
    max-width: 50%;
  }
  ons-col.flex-four.slim + ons-col.flex-four.fill {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  ons-col.three, ons-col.flex-four.slim {
    flex: 0 0 33.33333333333333333333%;
    max-width: 33.33333333333333333333%;
  }
  ons-col, ons-col.flex-four {
    flex: 0 0 50%;
    max-width: 50%;
  }
  ons-col.three-double, ons-col.flex-four.slim + ons-col.flex-four.fill {
    flex: 0 0 66.66666666666666666666%;
    max-width: 66.66666666666666666666%;
  }
  ons-col.flex-four + ons-col.flex-four.fill {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 541px) {
  ons-col.twelve {
    flex: 0 0 33.33333333333333333333%;
    max-width: 33.33333333333333333333%;
  }
}

@media (min-width: 640px) {
  ons-col.wide {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  ons-col.four, ons-col.flex-four.slim, ons-col.twelve {
    flex: 0 0 25%;
    max-width: 25%;
  }
  ons-col.flex-three {
    flex: 0 0 33.33333333333333333333%;
    max-width: 33.33333333333333333333%;
  }
  ons-col.flex-three + ons-col.flex-three.fill, ons-col.flex-four.slim + ons-col.flex-four.fill {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  ons-col.flex-four {
    flex: 0 0 25%;
    max-width: 25%;
  }
  ons-col.flex-four + ons-col.flex-four.fill {
    flex: 0 0 100%;
    max-width: 100%;
  }
}



/****************************************************** Blitzee formatting **/

a {
  text-decoration: none;
}
p {
  line-height: 1.4;
}
small {
  font-size: .9em;
}
ons-col li {
  line-height: 1.33
}
footer {
  font-size: .8em;
  line-height: 2em;
}
.select-input, .text-input, .text-input__label, textarea {
  font-size: 1.2em;
  height: 1.5em;
}
label {
  font-size: 1.2em;
  line-height: 1.75;
}
caption {
  font-size: 1.2em;
  border-radius: 2em 2em 0 0;
}

@media (min-width: 480px) {
  ons-list-item ons-button.button--large {
    font-size: 12px;
  }
  ons-col.flex-four .card--material__title {
    font-size: 17px;
  }
}

@media (min-width: 541px) {
  ons-col.flex-four .card--material__title {
    font-size: 19px;
  }
  ons-list-item ons-button.button--material {
    font-size: 13px;
  }
}

@media (min-width: 640px) {
  ons-col.flex-four .card--material__title {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  ons-col.four ons-list {
    font-size: .95em;
  }
}



/********************************************************** Blitzee themes **/

body.darkness {
  background-color: #2e3338;
}
.darkness .page__background {
  background-color: #2e3338;
}
.darkness .page {
  color: #ccc;
}
.darkness h3 {
  color: #ddd;
}
.darkness ons-col .button {
  background-color: #b87c14;
}
.darkness ons-toolbar, .darkness .tabbar, .darkness footer {
  background-color: #202327;
}
.darkness .text-input, .darkness .text-input:invalid, .darkness .select-input, .darkness textarea {
  background-color: #181b1e;
}
.darkness option {
  background-color: #2a2d32;
}
.darkness .list-item {
  color: #eee;
}
.darkness .list-item__left {
  color: #cac286;
}
.darkness h2, .darkness ons-list-item ons-icon {
  color: #cac286;
}
.darkness ons-list-item:hover {
  background-color: #202327;
}
.sunshine ons-list-item:hover {
  background-color: #eee;
}
.sunshine .page {
  color: #333;
}
.sunshine footer {
  background-image: url(img/iota_icon_black.svg);
}
.darkness .action-sheet-button--material, .darkness .action-sheet-button {
  background-color: #191c1f;
}
.darkness .action-sheet-title--material, .darkness .action-sheet-title {
  background-color: #141719;
}
.darkness ons-col img.white {
  filter: sepia(50%) saturate(300%) hue-rotate(308deg) invert(82%);
}
.sunshine ons-modal img, #exchange-info ons-card img {
  filter: sepia(27%) saturate(600%) hue-rotate(300deg) invert(85%);
}
.sunshine #exchange-info ons-card img {
  filter: none;
}
.darkness ons-list {
  background-color: #2a2d32;
}
.darkness ons-card, .darkness .alert-dialog, .darkness form {
  background-color: #25292d;
}
.darkness ons-card .list-header {
  color: #cac286;
  background-color: #2e3338;
}
.darkness .alert-dialog-title {
  color: #cac286;
}
.darkness .alert-dialog-content {
  color: #eee;
}
.darkness .list-item--chevron:before {
  border-color: #505962;
}
.darkness sup {
  color: #fff;
}
.darkness caption {
  background-color: #2d3034;
}
.darkness tr:first-child th, th {
  color: #81aadf;
}
.darkness .fa-iota-icon, .darkness .iota-icon {
  width: 1em;
  height: 1.25em;
  vertical-align: middle;
  background-image: url(img/iota_icon_light.svg);
  background-repeat: no-repeat;
  background-position: right 2px center;
  background-size: contain;
}
.sunshine .fa-iota-icon, .sunshine .iota-icon {
  background-image: url(img/iota_icon_black.svg);
}
